AppWindows_Colegio/Connected Services/ProxyCurso/WCF_Colegio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Colegio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Colegio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CursoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activocur" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCurso" type="xs:short" />
      <xs:element minOccurs="0" name="IdNivel" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CursoBE" nillable="true" type="tns:CursoBE" />
  <xs:complexType name="ArrayOfCursoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CursoBE" nillable="true" type="tns:CursoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCursoBE" nillable="true" type="tns:ArrayOfCursoBE" />
</xs:schema>