AppWindows_Colegio/Connected Services/ProxyExtra/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Colegio" />
  <xs:element name="AsignarCursoDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCurso" type="xs:int" />
        <xs:element minOccurs="0" name="idDocente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarCursoDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsignarCursoDocenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopAlumnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maximo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopAlumnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Colegio" minOccurs="0" name="GetTopAlumnosResult" nillable="true" type="q1:ArrayOfAlumnoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarImagenCurso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="idCurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarImagenCursoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsignarImagenCursoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumnosDeudores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumnosDeudoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Colegio" minOccurs="0" name="GetAlumnosDeudoresResult" nillable="true" type="q2:ArrayOfAlumnoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDistritos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDistritosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Colegio" minOccurs="0" name="ListarDistritosResult" nillable="true" type="q3:ArrayOfDistritoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>