AppWindows_Colegio/Connected Services/ProxyDocente/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioDocente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Colegio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioDocente_GetAllDocentes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDocentes" />
  </wsdl:message>
  <wsdl:message name="IServicioDocente_GetAllDocentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDocentesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocente_GetDocente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocente" />
  </wsdl:message>
  <wsdl:message name="IServicioDocente_GetDocente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocente_InsertDocente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDocente" />
  </wsdl:message>
  <wsdl:message name="IServicioDocente_InsertDocente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocente_UpdateDocente_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocente" />
  </wsdl:message>
  <wsdl:message name="IServicioDocente_UpdateDocente_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocente_DeleteDocente_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocente" />
  </wsdl:message>
  <wsdl:message name="IServicioDocente_DeleteDocente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocente_BuscarDocentes_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarDocentes" />
  </wsdl:message>
  <wsdl:message name="IServicioDocente_BuscarDocentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarDocentesResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioDocente">
    <wsdl:operation name="GetAllDocentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocente/GetAllDocentes" message="tns:IServicioDocente_GetAllDocentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocente/GetAllDocentesResponse" message="tns:IServicioDocente_GetAllDocentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocente/GetDocente" message="tns:IServicioDocente_GetDocente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocente/GetDocenteResponse" message="tns:IServicioDocente_GetDocente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDocente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocente/InsertDocente" message="tns:IServicioDocente_InsertDocente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocente/InsertDocenteResponse" message="tns:IServicioDocente_InsertDocente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocente/UpdateDocente" message="tns:IServicioDocente_UpdateDocente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocente/UpdateDocenteResponse" message="tns:IServicioDocente_UpdateDocente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocente/DeleteDocente" message="tns:IServicioDocente_DeleteDocente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocente/DeleteDocenteResponse" message="tns:IServicioDocente_DeleteDocente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarDocentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocente/BuscarDocentes" message="tns:IServicioDocente_BuscarDocentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocente/BuscarDocentesResponse" message="tns:IServicioDocente_BuscarDocentes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioDocente" type="tns:IServicioDocente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllDocentes">
      <soap:operation soapAction="http://tempuri.org/IServicioDocente/GetAllDocentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocente">
      <soap:operation soapAction="http://tempuri.org/IServicioDocente/GetDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDocente">
      <soap:operation soapAction="http://tempuri.org/IServicioDocente/InsertDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocente">
      <soap:operation soapAction="http://tempuri.org/IServicioDocente/UpdateDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocente">
      <soap:operation soapAction="http://tempuri.org/IServicioDocente/DeleteDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDocentes">
      <soap:operation soapAction="http://tempuri.org/IServicioDocente/BuscarDocentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioDocente">
    <wsdl:port name="BasicHttpBinding_IServicioDocente" binding="tns:BasicHttpBinding_IServicioDocente">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Colegio/ServicioDocente/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>