AppWindows_Colegio/Connected Services/ProxyDocente/WCF_Colegio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Colegio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Colegio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDocenteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocenteBE" nillable="true" type="tns:DocenteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocenteBE" nillable="true" type="tns:ArrayOfDocenteBE" />
  <xs:complexType name="DocenteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_regi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_ult_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grado_estudio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Curso1" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Docente1" type="xs:int" />
      <xs:element minOccurs="0" name="Mvaract_doc" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mvarid_distritro" type="xs:int" />
      <xs:element minOccurs="0" name="Mvarnombre_distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombresApellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero_tel1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_ult_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor_codigo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocenteBE" nillable="true" type="tns:DocenteBE" />
</xs:schema>