AppWindows_Colegio/Connected Services/ProxyUsuario/WCF_Colegio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Colegio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Colegio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mvarape_us" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mvardes_referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mvarfecha_registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mvarid_referencia" type="xs:short" />
      <xs:element minOccurs="0" name="Mvarid_rol" type="xs:short" />
      <xs:element minOccurs="0" name="Mvarid_usuario" type="xs:short" />
      <xs:element minOccurs="0" name="Mvarlog_clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mvarlog_usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mvarnom_us" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioBE" nillable="true" type="tns:UsuarioBE" />
  <xs:complexType name="ArrayOfUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioBE" nillable="true" type="tns:UsuarioBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioBE" nillable="true" type="tns:ArrayOfUsuarioBE" />
</xs:schema>